ANH_WCF_Example_Client/ANH_WCF_Example_Client/Service References/ANHService/AnhService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ANH_WCF_Interface" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ANH_WCF_Interface" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:simpleType name="ServerType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="ConnectionServer" />
      <xs:enumeration value="ChatServer" />
      <xs:enumeration value="LoginServer" />
      <xs:enumeration value="ZoneServer" />
      <xs:enumeration value="PingServer" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ServerType" nillable="true" type="tns:ServerType" />
  <xs:simpleType name="MessageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Message" />
      <xs:enumeration value="Cancelled" />
      <xs:enumeration value="Completed" />
      <xs:enumeration value="Failed" />
      <xs:enumeration value="STDErr" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageType" nillable="true" type="tns:MessageType" />
  <xs:complexType name="ArrayOfServerType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServerType" type="tns:ServerType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServerType" nillable="true" type="tns:ArrayOfServerType" />
</xs:schema>